*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    block-size: 100%;
}

.page {
    display: flex;
    inline-size: 1200px;
    block-size: 100%;
    margin: auto;
    color: #fff;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 18px;
    background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset,
button {
    margin: 0;
    padding: 0;
}

button,
input,
form {
    border: none;
    outline: none;
}

ul,
ol {
    list-style: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

:focus {
    outline:none;
}

.content {
    display: grid;
    margin: auto 30px;
    grid-template-columns: 711px 399px;
    justify-content: center;
    align-items: flex-end;
    gap: 30px;

}

.search-form {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-top: 16px;

    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.content__list {
    overflow-x: hidden;
    overflow-y: auto;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 298px;
    gap: 30px;
    /*overflow: auto;*/
    padding: 1px;
}

.content__details {
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 26px;
}

.result__video {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}

.content__list-item {
    width: 99%;
    appearance: none;
}

.content__card-link_current,
.content__card-link:active {
    background: #545050;
}

.content__list-item:has(:focus-visible) {
    outline: 1px solid #FFF;
}


.content__card-link:focus-visible {
    outline: none;
}

.content__video-card {
    display: flex;
    justify-content: space-between;
}

.content__video-card-thumbnail {
    object-fit: cover;
    object-position: center;
    width: 194px;
    height: 103px;
    flex-shrink: 0;
}

.content__video-card-description-container {
    width: 100%;
}

.result__video-container,
.content__list {
    position: relative;
}

.search-form__fieldset-title {
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
}

.title,
.content__video-card-title {
    font-family: Oswald, serif;
    font-weight: 700;
    text-transform: uppercase;
}

.title {
    font-size: 75px;
    line-height: 94%;
}

.content__accent {
    color: #545050;
}

.content__card-link {
    display: block;
    color: #FFF;
    font-size: 18px;
    text-decoration: none;
}

.content__card-link:hover {
    text-decoration: underline;

}

.content__video-card-title {
    max-width:200px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 30px;
}

.content__video-card-description {
    max-width:200px;
    font-size: 18px;
    line-height: 90%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

}

.search-form__fieldset {
    border: none;
    appearance: none;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

.search-form__label {
    display: inline-flex;
    align-items: center;
    gap: 5px;
}

.search-form__label:has(:focus-visible) {
    outline: 1px solid #FFF;
}

.search-form__label:has(.search-form__pseudo-checkbox):hover {
    text-decoration: underline;
}


.search-form__textfield {
    background-color: inherit;
    color: inherit;
    display: flex;
    width: 225px;
    height: 27px;
    font-family: inherit;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
    border-top: 1px solid #FFF;
    border-bottom: 1px solid #FFF;
}

.search-form__textfield:active {
    border: 1px solid #FFF;
}

.search-form__pseudo-checkbox {

    width: 19px;
    height: 19px;
    border: 1px solid #FFF;
    outline: 1px solid #000;
    outline-offset: -2px;
    background-color: inherit;
}

input[type='checkbox']:checked + .search-form__pseudo-checkbox,
.search-form__pseudo-checkbox:active {
    background-color: white;
    padding: 3px;
}

.button {
    background-color: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 34px;

    gap: 10px;
    flex-shrink: 0;
    color: #FFF;
    border: 1px solid #FFF;
    text-align: center;
    font-family: Fira Sans Condensed, serif;

    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
}

.search-form__submit-button {
    width: 194px;
}

.button:hover {
    text-decoration: underline;
}

.button:focus {
    outline: none;
}

.button:focus-visible {
    outline: 1px #FFF solid;
    outline-offset: 1px;
}

.button:active {
    background: #545050;
}

.more-button {
    width: 399px;
}

